*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #001c35;
}
#container{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-left: 20%;
}


#container h1{
   color: white;
    font-size: 4.5vw;
    margin-bottom: 29px;
}
span{
color: #017f4e;
border-bottom: 5px solid #017f4e;
}

#display{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
#display input{
    width: 40%;
    height: 5vw;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
}
::placeholder{
    font-size: 1.6vw;
    font-family: copy;
}

#display i{
position: absolute;
color: #017f4e;
font-size: 3.9vw;
left: 37%;
top: 5px;
}

#Generate{
    width: 100%;
    height: 100%;
}
#Generate button{
    width: 20%;
    height: 5vw;
font-size: 1.7vw;
border-radius: 10px;
outline: none;
border: none;
background-color: #017f4e;
color: #fff;
cursor: pointer;
}

@media(max-width:900px){
    body{
        overflow: hidden;
    }
    #container{
        padding-top: 50vw;
       padding-left: 10px;
    }
    #container h1{
        font-size: 10vw;
    }
    #display input{
        width: 80%;
        height: 13vw;

    }
    ::placeholder{
  font-size: 5.5vw;
    }
    #display i{
        position: absolute;
        font-size: 9.5vw;
        left: 73vw;
    }
    #Generate button{
        width: 60%;
        height: 13.5vw;
        font-size: 4.0vw;
    }
}